version: "3.9"

services:
  db:
    image: postgres:14.2-alpine
    environment:
      POSTGRES_USER: ${DEVBOX_POSTGRES142_POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${DEVBOX_POSTGRES142_POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${DEVBOX_POSTGRES142_POSTGRES_DB:-dev}
    volumes:
      - postgres142_db_data:/var/lib/postgresql/data
    networks:
      postgres142_network_local:
        aliases:
          - db.postgres142.devbox.local
    hostname: db.postgres142.devbox.local
    ports:
      - ${DEVBOX_POSTGRES142_DB_EXPORT_PORT:-15442}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      start_period: 5s
      interval: 3s
      timeout: 1s
      retries: 20
  pgadmin:
    image: dpage/pgadmin4:5
    depends_on:
      db:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: ${DEVBOX_POSTGRES142_PGADMIN_EMAIL:-pgadmin4@devbox.local}
      PGADMIN_DEFAULT_PASSWORD: ${DEVBOX_POSTGRES142_PGADMIN_PASSWORD:-password}
    volumes:
      - ./config/servers.json:/pgadmin4/servers.json
      - ./config/pgpassfile:/pgadmin4/pgpassfile
    networks:
      postgres142_network_local:
        aliases:
          - pgadmin.postgres142.devbox.local
    hostname: pgadmin.postgres142.devbox.local
    ports:
      - ${DEVBOX_POSTGRES142_PGADMIN_EXPORT_PORT:-15443}:80
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "80"]
      start_period: 100s
      interval: 3s
      timeout: 1s
      retries: 60
  pgweb:
    image: sosedoff/pgweb:latest
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://${DEVBOX_POSTGRES142_POSTGRES_USER:-postgres}:${DEVBOX_POSTGRES142_POSTGRES_PASSWORD:-password}@db.postgres142.devbox.local:5432/${DEVBOX_POSTGRES142_POSTGRES_DB:-dev}?sslmode=disable
    networks:
      postgres142_network_local:
        aliases:
          - pgweb.postgres142.devbox.local
    hostname: pgweb.postgres142.devbox.local
    ports:
      - ${DEVBOX_POSTGRES142_PGWEB_EXPORT_PORT:-15444}:8081
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "8081"]
      interval: 3s
      timeout: 1s
      retries: 20
  dbgate:
    image: dbgate/dbgate:alpine
    depends_on:
      db:
        condition: service_healthy
    environment:
      CONNECTIONS: postgres1
      ENGINE_postgres1: postgres@dbgate-plugin-postgres
      LABEL_postgres1: db.postgres142.devbox.local
      SERVER_postgres1: db.postgres142.devbox.local
      PORT_postgres1: 5432
      USER_postgres1: ${DEVBOX_POSTGRES142_POSTGRES_USER:-postgres}
      PASSWORD_postgres1: ${DEVBOX_POSTGRES142_POSTGRES_PASSWORD:-password}
    networks:
      postgres142_network_local:
        aliases:
          - dbgate.postgres142.devbox.local
    hostname: dbgate.postgres142.devbox.local
    ports:
      - ${DEVBOX_POSTGRES142_DBGATE_EXPORT_PORT:-15445}:3000
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "3000"]
      interval: 3s
      timeout: 1s
      retries: 20

volumes:
  postgres142_db_data:

networks:
  postgres142_network_local:
    driver: bridge
