version: "3.9"

services:
  bucket:
    image: minio/minio:latest
    environment:
      MINIO_REGION: ${DEVBOX_MINIO_STORAGE_REGION:-us-east-1}
      MINIO_ACCESS_KEY: ${DEVBOX_MINIO_STORAGE_ACCESS_KEY:-AKIAIOSFODNN7EXAMPLE}
      MINIO_SECRET_KEY: ${DEVBOX_MINIO_STORAGE_ACCESS_KEY:-wJalrXUtnFEMIK7MDENGbPxRfiCYEXAMPLEKEY}
      MINIO_ROOT_USER: ${DEVBOX_MINIO_CONSOLE_ROOT_USER:-root}
      MINIO_ROOT_PASSWORD: ${DEVBOX_MINIO_CONSOLE_ROOT_PASSWORD:-password}
    volumes:
      - minio-latest_storage_data:/data
    command: server --address 0.0.0.0:9000 --console-address 0.0.0.0:9001 /data
    networks:
      minio-latest_network_local:
        aliases:
          - bucket.minio-latest.devbox.local
    hostname: bucket.minio-latest.devbox.local
    ports:
      - ${DEVBOX_MINIO_API_EXPORT_PORT:-29000}:9000
      - ${DEVBOX_MINIO_CONSOLE_EXPORT_PORT:-29001}:9001
    healthcheck:
      test: ["CMD", "curl", "--connect-timeout", "1", "-s", "http://127.0.0.1:9000/minio/health/live"]
      interval: 3s
      timeout: 1s
      retries: 20

volumes:
  minio-latest_storage_data:

networks:
  minio-latest_network_local:
    driver: bridge
