version: "3.9"

services:
  db:
    image: mariadb:10.5
    environment:
      MYSQL_ROOT_PASSWORD: ${DEVBOX_MARIADB105_ROOT_PASSWORD:-password}
    volumes:
      - mariadb105_data:/var/lib/mysql
    networks:
      - mariadb105_network_local
    hostname: db.mariadb105.devbox.local
    ports:
      - ${DEVBOX_MARIADB105_DB_EXPORT_PORT:-13306}:3306
    healthcheck:
      test: mysqladmin -p${DEVBOX_MARIADB105_ROOT_PASSWORD:-password} ping -h localhost
      start_period: 5s
      interval: 3s
      timeout: 1s
      retries: 20
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db.mariadb105.devbox.local
      PMA_USER: root
      PMA_PASSWORD: ${DEVBOX_MARIADB105_ROOT_PASSWORD:-password}
    networks:
      - mariadb105_network_local
    hostname: phpmyadmin.mariadb105.devbox.local
    ports:
      - ${DEVBOX_MARIADB105_PMA_EXPORT_PORT:-13307}:80
    healthcheck:
      test: ["CMD", "curl", "--connect-timeout", "1", "-s", "http://127.0.0.1"]
      interval: 3s
      timeout: 1s
      retries: 20
  adminer:
    image: adminer:4
    depends_on:
      db:
        condition: service_healthy
    environment:
      ADMINER_DEFAULT_SERVER: db.mariadb105.devbox.local
    networks:
      - mariadb105_network_local
    hostname: adminer.mariadb105.devbox.local
    ports:
      - ${DEVBOX_MARIADB105_ADMINER_EXPORT_PORT:-13308}:8080
    healthcheck:
      test: ["CMD", "curl", "--connect-timeout", "1", "-s", "http://127.0.0.1:8080"]
      interval: 3s
      timeout: 1s
      retries: 20
  dbgate:
    image: dbgate/dbgate:alpine
    depends_on:
      db:
        condition: service_healthy
    environment:
      CONNECTIONS: mariadb1
      LABEL_mariadb1: db.mariadb105.devbox.local
      SERVER_mariadb1: db.mariadb105.devbox.local
      USER_mariadb1: root
      PASSWORD_mariadb1: ${DEVBOX_MARIADB105_ROOT_PASSWORD:-password}
      PORT_mariadb1: 3306
      ENGINE_mariadb1: mysql@dbgate-plugin-mysql
    networks:
      - mariadb105_network_local
    hostname: dbgate.mariadb105.devbox.local
    ports:
      - ${DEVBOX_MARIADB105_DBGATE_EXPORT_PORT:-13309}:3000
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "3000"]
      interval: 3s
      timeout: 1s
      retries: 20

volumes:
  mariadb105_data:

networks:
  mariadb105_network_local:
    driver: bridge
